*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(43, 220, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}